<!-- Put this part before </body> tag -->
<input type="checkbox" id="change-password-form" class="modal-toggle" />
<div class="modal">
	<div class="modal-box flex max-w-sm flex-col gap-6">
		<label for="change-password-form" class="btn-ghost btn-sm btn-circle btn absolute right-2 top-2">✕</label>
		<h3 class="text-xl font-bold">Change Password</h3>
		<form action="" class="flex flex-col gap-6" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
			<div class="form-control gap-1">
				<label class="label-require">Current password</label>
				<input type="password" class="input-bordered input" formControlName="currentPassword" />
				<small
					class="font-medium text-error"
					*ngIf="form.currentPassword.errors?.['required'] && form.currentPassword.dirty"
					>Provide current password</small
				>
			</div>
			<div class="form-control gap-1">
				<label for="" class="label-require">New Password</label>
				<input type="password" class="input-bordered input" formControlName="newPassword" />
				<small
					class="font-medium text-error"
					*ngIf="form.newPassword.errors?.['required'] && form.newPassword.dirty"
					>Provide new password</small
				>
			</div>
			<div class="form-control">
				<button class="btn">Save</button>
			</div>
		</form>
	</div>
</div>
