<div class="hero h-full bg-base-200">
	<div class="hero-content text-center">
		<div class="max-w-5xl">
			<h1 class="text-5xl font-bold">Welcome back bro!</h1>
			<p class="py-6">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Voluptatum at deleniti enim, voluptatibus recusandae reiciendis
				esse, assumenda similique optio sapiente non nostrum in aperiam
				neque, dolore beatae unde placeat quod.
			</p>
			<button class="btn-primary btn">Get Started</button>
		</div>
	</div>
</div>
